name: Evaluate Model

on:
  workflow_run:
    workflows: ["Run Tests"]
    types:
      - completed

jobs:
  evaluate:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirement.txt

    - name: Run Evaluation
      env:
        PYTHONPATH: .
      run: |
        python src/evaluate.py

    - name: Upload Metrics
      uses: actions/upload-artifact@v4
      with:
        name: model-metrics
        path: metrics.json
